<h1>Games</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Team A</th>
      <th>Team B</th>
      <th>Score A</th>
      <th>Score B</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each games}}
    <tr>
      <td>{{this.Date}}</td>
      <td>{{this.Location}}</td>
      <td>{{this.TeamAName}}</td>
      <td>{{this.TeamBName}}</td>
      <td>{{this.ScoreA}}</td>
      <td>{{this.ScoreB}}</td>
      <td class="snug">
        <form method="POST" action="/games/delete">
          <input type="hidden" name="GameID" value="{{this.GameID}}" />
          <button type="submit">Delete</button>
        </form>
	  </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2>Schedule New Game</h2>
<form method="POST" action="/games/add">
  <input name="Date" type="date" required />
  <input name="Location" placeholder="Location" required />
  <label for="TeamASelect">Select Team A</label>
  <select name="TeamAID" id="TeamASelect" required>
  {{#each teams}}
    <option value="{{this.TeamID}}">{{this.TeamName}}</option>
  {{/each}}
  </select>
  <label for="TeamBSelect">Select Team B</label>
  <select name="TeamBID" id="TeamBSelect" required>
  {{#each teams}}
    <option value="{{this.TeamID}}">{{this.TeamName}}</option>
  {{/each}}
  </select>
  <input name="ScoreA" type="number" placeholder="Team A Score" />
  <input name="ScoreB" type="number" placeholder="Team B Score" />
  <button type="submit">Add Game</button>
</form>

<h2>Update Game Information</h2>
<form method="POST" action="/games/update">
  <label for="GameSelect">Select a Game</label>
  <select name="GameID" id="GameSelect" required>
  {{#each games}}
    <option value="{{this.GameID}}">{{this.Date}} {{this.TeamAName}} vs. {{this.TeamBName}}</option>
  {{/each}}
  </select>
  <input name="Date" type="date" required />
  <input name="Location" placeholder="Location" required />
  <label for="TeamASelect">Select Team A</label>
  <select name="TeamAID" id="TeamASelect" required>
  {{#each teams}}
    <option value="{{this.TeamID}}">{{this.TeamName}}</option>
  {{/each}}
  </select>
  <label for="TeamBSelect">Select Team B</label>
  <select name="TeamBID" id="TeamBSelect" required>
  {{#each teams}}
    <option value="{{this.TeamID}}">{{this.TeamName}}</option>
  {{/each}}
  </select>
  <input name="ScoreA" type="number" placeholder="Team A Score" />
  <input name="ScoreB" type="number" placeholder="Team B Score" />
  <button type="submit">Update Game</button>
</form>

