<h1>Player Statistics</h1>
<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Statistic</th>
      <th>Game</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
     {{#each playerstatistics}}
    <tr>
      <td>{{this.PlayerName}}</td>
      <td>{{this.StatName}}</td>
      <td>{{this.GameInfo}}</td>
      <td>{{this.ValueOfStatistic}}</td>
      <td class="snug">
        <form method="POST" action="/playerstatistics/delete">
          <input type="hidden" name="PlayerID" value="{{this.PlayerID}}" />
          <input type="hidden" name="StatisticID" value="{{this.StatisticID}}" />
          <input type="hidden" name="GameID" value="{{this.GameID}}" />
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>


<h2>Add Player Statistic</h2>
<form method="POST" action="/playerstatistics/add">
	<div style="display: flex; gap: 10px;">
	<label for="playerSelect">Select a player</label>
	<select name="PlayerID" id="PlayerSelect" required>
	{{#each players}}
		<option value="{{this.PlayerID}}">{{this.PlayerName}}</option>
	{{/each}}
	</select>

	<label for="statisticSelect">Select a statistic</label>
	<select name="StatisticID" id="statisticSelect" required>
	{{#each statistics}}
		<option value="{{this.StatisticID}}">{{this.StatisticName}}</option>
	{{/each}}
	</select>

	<label for="gameSelect">Select a game</label>
	<select name="GameID" id="gameSelect" required>
	{{#each games}}
		<option value="{{this.GameID}}">{{this.GameInfo}}</option>
	{{/each}}
	</select>

    <input name="ValueOfStatistic" placeholder="Value" required />
    <button type="submit" class="btn btn-primary">Add Stat</button>
  </div>
</form>

<form method="POST" action="/playerstatistics/update" style="display: flex; gap: 5px;">
  <input type="hidden" name="CurrentPlayerName" value="{{this.PlayerName}}" />
  <input type="hidden" name="CurrentStatisticName" value="{{this.StatisticName}}" />
  <input type="hidden" name="GameID" value="{{this.GameID}}" />
  <input name="ValueOfStatistic" placeholder="New Value" required />
  <button type="submit" class="btn btn-warning">Update</button>
</form>

