<!-- Citation for the following code: 
//# Date: 05/08/2025 
//# Adapted from Module 6 Exploration - Web App Technology Node.js section
//# Used base structure for Handlebars templating.
//# Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
-->
<h1>Statistics</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
	  <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each statistics}}
    <tr>
      <td>{{this.StatisticName}}</td>
      <td>{{this.Description}}</td>
      <td class="snug">
        <form method="POST" action="/statistics/delete">
          <input type="hidden" name="StatisticID" value="{{this.StatisticID}}" />
          <button type="submit">Delete</button>
        </form>
	  </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h2>Add New Statistic</h2>

<!-- Instructions Box -->
  <div style="max-width: 300px; margin-bottom: 20px; padding: 10px; border: 1px solid #ccc; background: #f9f9f9;">
    <h4>Instructions</h4>
    <ul>
      <li>Statistic Name is required (e.g., Points, Assists).</li>
      <li>Description helps clarify what this stat measures.</li>
      <li>Click “Add Statistic” to save it to the database.</li>
    </ul>
  </div>

<div style="display: flex; gap: 32px; align-items: flex-start;">
  <br>
  <!-- Add Statistic Form -->
  <form method="POST" action="/statistics/add">
    <input name="StatisticName" placeholder="Statistic Name" required />
    <input name="Description" placeholder="Description" />
    <button type="submit">Add Statistic</button>
  </form>
</div>


<h2>Update a Statistic</h2>
<form method="POST" action="/statistics/update">
  <div style="display: flex; gap: 10px;">
    <label for="statisticSelect">Select a statistic</label>
    <select name="StatisticID" id="StatisticSelect" required>
    {{#each statistics}}
      <option value="{{this.StatisticID}}">{{this.StatisticName}}</option>
    {{/each}}
    </select>
    <input name="StatisticName" placeholder="New Statistic Name" required />
    <input name="Description" placeholder="New Description" required />
    <button type="submit" class="btn btn-warning">Update Statistic</button>
  </div>
</form>

