<h2>Team Players</h2>

<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Player Name</th>
			<th>Jersey Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each teamplayers}}
            <tr>
                <td>{{this.TeamName}}</td>
                <td>{{this.PlayerName}}</td>
				<td>{{this.JerseyNumber}}</td>
  				<td class="snug">
					<form method="POST" action="/teamplayers/delete">
						<input type="hidden" name="TeamPlayerID" value="{{this.TeamID}} {{this.PlayerID}}" />
						<button type="submit">Delete</button>
					</form>
			  	</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add Player to Team</h2>
<form method="POST" action="/teamplayers/add">
  <div style="display: flex; gap: 10px;">
    <select name="TeamID" id="TeamID" required>
    {{#each teams }}
      <option value="{{this.TeamID}}">{{this.TeamName}}</option>
    {{/each}}
    </select>
    <select name="PlayerID" id="PlayerID" required>
    {{#each players }}
      <option value="{{this.PlayerID}}">{{this.PlayerName}}</option>
    {{/each}}
    </select>
	<input name="JerseyNumber" placeholder="Jersey Number" />
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>

<h2>Update Jersey Number</h2>
<form method="POST" action="/teamplayers/update">
  <div style="display: flex; gap: 10px;">
    <label for="PairSelect">Select a team-player pairing</label>
    <select name="TeamPlayerID" id="PairSelect" required>
    {{#each teamplayers }}
      <option value="{{this.TeamID}} {{this.PlayerID}}">{{this.TeamName}}/{{this.PlayerName}}</option>
    {{/each}}
    </select>
    <input name="JerseyNumber" placeholder="Jersey Number" required />
    <button type="submit" class="btn btn-warning">Update</button>
  </div>
</form>




